# dependencies
node_modules
.pnpm-store

# build
dist
.turbo
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea

# os
.DS_Store
Thumbs.db

# drizzle
packages/db/drizzle/meta
